<div class="orden-interna mt-5 pt-3">
  <div class="container">
    <a href="javascript:window.print()">Imprimir</a>
  </div>
  <div class="container-fluid" id="toPrint">

    <!-- DATOS DEL VEHICULO -->
    <div class="row text-center py-2">
      <table class="table table-bordered border-dark mb-0 datos-orden">
        <thead>
          <tr>
            <th scope="col">Vehiculo</th>
            <th scope="col">RC</th>
            <th scope="col">Seguro</th>
            <th scope="col">Orden</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ datos.vhModelo }}</td>
            <td> </td>
            <td>{{ datos.seguro }}</td>
            <td>{{ datos.orden_idorden }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- ./DATOS DEL VEHICULO -->

    <!-- IMAGEN TIPO -->
    <div class="row">
      <div class="col">
        <h3>Pintar</h3>
      </div>
      <div class="col">
        <h3>Reparar</h3>
      </div>
      <div class="col">
        <h3>Reemplazar</h3>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-md-12">
        <img class="img-fluid" width="110%" src="{{ datos.vhTipo_img_all }}" alt="">
      </div>
    </div>

    <div class="row">
      Observaciones: {{datos.traza_observaciones}}
    </div>
    <!-- ./IMAGEN TIPO -->


    <!-- PIEZAS A REPARAR -->
    <div class="row py-2">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Pieza</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pieza of piezas">
            <td> {{ pieza.pieza_nombre }} </td>
            <td> {{ pieza.pieza_accion }} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- PIEZAS A REPARAR -->

  </div>
</div>