<main role="main" class="container-fluid">
  <!-- Cabeceras -->
  <div class="row text-center">
    <div class="col">
      <h4>
        Ingreso <small><span class="badge badge-secondary">2</span></small>
      </h4>
    </div>
    <div class="col">
      <h4>
        Chapa <small><span class="badge badge-secondary">3</span></small>
      </h4>
    </div>
    <div class="col">
      <h4>
        Preparacion <small><span class="badge badge-secondary">2</span></small>
      </h4>
    </div>
    <div class="col">
      <h4>
        Pintura <small><span class="badge badge-secondary">4</span></small>
      </h4>
    </div>
    <div class="col">
      <h4>
        Armado <small><span class="badge badge-secondary">1</span></small>
      </h4>
    </div>
    <div class="col">
      <h4>
        Estetica <small><span class="badge badge-secondary">3</span></small>
      </h4>
    </div>
  </div>
  <!-- .Cabeceras -->

  <!-- Contenido -->
  <div class="row text-center">
    <!-- columna INGRESO -->
    <div class="col">
      <!-- NgFor -->
      <div *ngFor="let vehiculo of vehiculos; let i = index">
        <div *ngIf="vehiculo.chSector == 'Ingreso' ">
          <a href="" (click)="actualizarModal(vehiculo.idtraza)" class="text-dark" data-toggle="modal" data-target="#exampleModal">
            <div class="card box-shadow mb-2 bg-light">
              <div class="card-body text-left p-2">
                <h5 class="card-title pricing-card-title mb-0">{{ vehiculo.traza_patente}}</h5>
                <ul class="list-unstyled mb-0">
                  <li>{{ vehiculo.vhModelo }} - Rojo</li>
                  <li>Seguro: {{ vehiculo.seguro }}</li>
                  <li>Sector: {{ vehiculo.chSector }}</li>
                  <li>Ingreso: {{ vehiculo.movimiento_fecha }}</li>
                  <li *ngIf="vehiculo.traza_repuestos == '1' " class="text-danger">Espera repuestos</li>
                </ul>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- ./NgFor -->
    </div>
    <div class="col border-left border-dark">
      <!-- NgFor -->
      <div *ngFor="let vehiculo of vehiculos; let i = index">
        <div *ngIf="vehiculo.chSector == 'Desarme' ">
          <a href="" (click)="actualizarModal(vehiculo.idtraza)" class="text-dark" data-toggle="modal" data-target="#exampleModal">
            <div class="card box-shadow mb-2 bg-light">
              <div class="card-body text-left p-2">
                <h5 class="card-title pricing-card-title mb-0">{{ vehiculo.traza_patente}}</h5>
                <ul class="list-unstyled mb-0">
                  <li>{{ vehiculo.vhModelo }} - Rojo</li>
                  <li>Seguro: {{ vehiculo.seguro }}</li>
                  <li>Sector: {{ vehiculo.chSector }}</li>
                  <li>Ingreso: {{ vehiculo.movimiento_fecha }}</li>
                </ul>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- ./NgFor -->
      <hr class="hr">
      <!-- NgFor -->
      <div *ngFor="let vehiculo of vehiculos; let i = index">
        <div *ngIf="vehiculo.chSector == 'Reparacion' ">
          <a href="" (click)="actualizarModal(vehiculo.idtraza)" class="text-dark" data-toggle="modal" data-target="#exampleModal">
            <div class="card box-shadow mb-2 bg-light">
              <div class="card-body text-left p-2">
                <h5 class="card-title pricing-card-title mb-0">{{ vehiculo.traza_patente}}</h5>
                <ul class="list-unstyled mb-0">
                  <li>{{ vehiculo.vhModelo }} - Rojo</li>
                  <li>Seguro: {{ vehiculo.seguro }}</li>
                  <li>Sector: {{ vehiculo.chSector }}</li>
                  <li>Ingreso: {{ vehiculo.movimiento_fecha }}</li>
                </ul>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- ./NgFor -->
    </div>
    <div class="col border-left border-dark">
      <!-- NgFor -->
      <div *ngFor="let vehiculo of vehiculos; let i = index">
        <div *ngIf="vehiculo.chSector == 'Preparacion' ">
          <a href="" (click)="actualizarModal(vehiculo.idtraza)" class="text-dark" data-toggle="modal" data-target="#exampleModal">
            <div class="card box-shadow mb-2 bg-light">
              <div class="card-body text-left p-2">
                <h5 class="card-title pricing-card-title mb-0">{{ vehiculo.traza_patente}}</h5>
                <ul class="list-unstyled mb-0">
                  <li>{{ vehiculo.vhModelo }} - Rojo</li>
                  <li>Seguro: {{ vehiculo.seguro }}</li>
                  <li>Sector: {{ vehiculo.chSector }}</li>
                  <li>Ingreso: {{ vehiculo.movimiento_fecha }}</li>
                </ul>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- ./NgFor -->
    </div>
    <div class="col border-left border-dark">
      <!-- NgFor -->
      <div *ngFor="let vehiculo of vehiculos; let i = index">
        <div *ngIf="vehiculo.chSector == 'Pintura' ">
          <a href="" (click)="actualizarModal(vehiculo.idtraza)" class="text-dark" data-toggle="modal" data-target="#exampleModal">
            <div class="card box-shadow mb-2 bg-light">
              <div class="card-body text-left p-2">
                <h5 class="card-title pricing-card-title mb-0">{{ vehiculo.traza_patente}}</h5>
                <ul class="list-unstyled mb-0">
                  <li>{{ vehiculo.vhModelo }} - Rojo</li>
                  <li>Seguro: {{ vehiculo.seguro }}</li>
                  <li>Sector: {{ vehiculo.chSector }}</li>
                  <li>Ingreso: {{ vehiculo.movimiento_fecha }}</li>
                </ul>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- ./NgFor -->
    </div>
    <div class="col border-left border-dark">
      <!-- NgFor -->
      <div *ngFor="let vehiculo of vehiculos; let i = index">
        <div *ngIf="vehiculo.chSector == 'Armado' ">
          <a href="" (click)="actualizarModal(vehiculo.idtraza)" class="text-dark" data-toggle="modal" data-target="#exampleModal">
            <div class="card box-shadow mb-2 bg-light">
              <div class="card-body text-left p-2">
                <h5 class="card-title pricing-card-title mb-0">{{ vehiculo.traza_patente}}</h5>
                <ul class="list-unstyled mb-0">
                  <li>{{ vehiculo.vhModelo }} - Rojo</li>
                  <li>Seguro: {{ vehiculo.seguro }}</li>
                  <li>Sector: {{ vehiculo.chSector }}</li>
                  <li>Ingreso: {{ vehiculo.movimiento_fecha }}</li>
                </ul>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- ./NgFor -->
    </div>
    <div class="col border-left border-dark">
      <!-- NgFor -->
      <div *ngFor="let vehiculo of vehiculos; let i = index">
        <div *ngIf="vehiculo.chSector == 'Estetica' ">
          <a href="" (click)="actualizarModal(vehiculo.idtraza)" class="text-dark" data-toggle="modal" data-target="#exampleModal">
            <div class="card box-shadow mb-2 bg-light">
              <div class="card-body text-left p-2">
                <h5 class="card-title pricing-card-title mb-0">{{ vehiculo.traza_patente}}</h5>
                <ul class="list-unstyled mb-0">
                  <li>{{ vehiculo.vhModelo }} - Rojo</li>
                  <li>Seguro: {{ vehiculo.seguro }}</li>
                  <li>Sector: {{ vehiculo.chSector }}</li>
                  <li>Ingreso: {{ vehiculo.movimiento_fecha }}</li>
                </ul>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- ./NgFor -->
    </div>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">VW Amarok - ABC 123</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Leandro Nicolas, Ortega Herrera</h5>
        <div class="row">
          <div class="col">Fecha Ingreso: 01/12/2019 </div>
          <div class="col">Fecha Entrega: 17/12/2019</div>
        </div>
        <br>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="reparacion-tab" data-toggle="tab" href="#reparacion" role="tab" aria-controls="reparacion" aria-selected="true">Reparacion</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="seguimiento-tab" data-toggle="tab" href="#seguimiento" role="tab" aria-controls="seguimiento" aria-selected="false">Seguimiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="documentos-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Documentos</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="reparacion" role="tabpanel" aria-labelledby="reparacion-tab">

            <div class="d-flex justify-content-center py-5" *ngIf="loadingpiezasData">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>

            <table class="table table-sm mt-3" *ngIf="!loadingpiezasData">
              <thead>
                <tr>
                  <th scope="col">Pieza</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pieza of piezas">
                  <td> {{ pieza.pieza_nombre }} </td>
                  <td> {{ pieza.pieza_accion }} </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="seguimiento" role="tabpanel" aria-labelledby="seguimiento-tab">

            <div class="d-flex justify-content-center py-5" *ngIf="loadingMovData">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>

            <table class="table table-sm mt-3" *ngIf="!loadingMovData">

              <thead>
                <tr>
                  <th scope="col">Sector</th>
                  <th scope="col">Ingreso</th>
                  <th scope="col">Registro</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mov of movimientos">
                  <td> {{ mov.chSector }} </td>
                  <td> {{ mov.movimiento_fecha }} {{mov.movimiento_hora}} </td>
                  <td> {{ mov.usuario_nombre }} {{mov.usuario_apellido}} </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="documentos-tab">
            <a data-dismiss="modal" [routerLink]="['/orden', idTraza]">Ver orden de reparacion interna</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-xs btn-primary" (click)="avanzarTraza()">Avanzar Sector</button>
      </div>
    </div>
  </div>
</div>