<div class="text-center" cz-shortcut-listen="true">
  <img
      class="mb-4 img-fluid"
      src="assets/img/login/img-login.jpg"
    />
  <form class="form-signin" [formGroup]="logInForm" (ngSubmit)="onSubmit()">
    
    <h1 class="h3 mb-3 font-weight-normal">Ingresar</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      formControlName="userName"
    />
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      formControlName="userPassword"
    />
    <!-- <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div> -->
    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      [disabled]="!logInForm.valid"
    >
      Ingresar al sistema
    </button>
    <div class="spinner-border text-primary" role="status" *ngIf="tryingLogIn">
      <span class="sr-only">Cargando...</span>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="logInErr">
      Algo malo paso! Por favor intenta mas tarde.
    </div>
    <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
  </form>
</div>
