<main role="main" class="container MT-5">
  <div class="row  justify-content-end">
    <button
      type="button"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#modalNuevoSeguimiento"
    >
      Nuevo Vehiculo
    </button>
  </div>
  <div class="row">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Dominio</th>
          <th scope="col">Sector Actual</th>
          <th scope="col">Fecha Ingreso</th>
          <th scope="col">Horas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Peugeot</td>
          <td>401</td>
          <td>PMK 802</td>
          <td>Detailin</td>
          <td>12/12/2020</td>
          <td>23Hs</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

